
h1,h2,h3,h4,h5,h6,a,.bold-link{
    font-family: 'Dangrek', cursive;
}
p{
    font-family: 'Siemreap', cursive;
    font-size: 1em;
}
.navbar{
    padding: 0px;
}
.nav-item a{
    font-size: 1em;
    margin-left: 80px;    
}
.navbar-brand img{
    margin-left: 80px;
}
.carousel-inner{
    margin-top: -50px;
}
.carousel-inner img {
    width: 100%;
   height: calc(100vh - 0px);
    object-fit: cover;
}
.carousel-inner.carousel-item img{
    width: 100%;
    height: 50%;
}
.search-box-wrapper{
    background-color: gray;
}
.search-box{
    position: relative;
    top: -42px;
}

.search-box a{
    font-size: 1em;
    padding-bottom: 5px;
}
.search-tab-content{
    font-family: 'Siemreap', cursive;
}
.search-tab-content h4.title{
    height: 20px;
    font-size: 1em;
    padding-top: 40px;
    padding-bottom: 15px;
}
.full-width{
    width: 100%;
    height: 32px;

}
.clearfix{
    border-bottom:2px solid blue;
}

.selector select .custom-select{
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    border: 1px solid transparent;
    cursor: text;
    
}
.search-tab-content a{
    font-family: 'Siemreap', cursive;
    color: #fff;
    font-size: 0.8em;
    text-decoration: none;
}
.search-tab-content button{
    height: 32px;
    padding: 5px;
}
.search-tab-content input,select{
    height: 32px;
    border: none;
    background-color: rgb(233, 227, 227);
}
.search-tab-content input:hover{
    border:0.5px solid blue;
}
.search-tab-content select:hover{
    border:0.5px solid blue;
}
.date-icon i{
    color: #fff;
    font-size: 20px;

    
}
.date-icon button{
    background-color: #1976D2;
    height: 32px;
    margin-top: -0.5px;
    margin-right: 60px;
}
.btn-search{
    padding-top: 92px;
}
.search-btn{
    width: 130px;
}
.input-group-append:hover{
    background-color: #388bd4;
}
.book-text{
    font-size: 0.8em;
}
.fas.fa-angle-down{
    color: #fff;
}
.fas.fa-check{
    font-weight: 600;
}
.image {
    overflow: hidden;
}

.image img {
    height: 168px;
    transition: all 1s ease-in-out;
}

.image:hover img {
    transform: scale(1.20, 1.20);
    cursor: pointer;
}
.card-text a{
    font-family:  'Siemreap', cursive;
    font-size: 1em;
    color: #1c3550;
    text-decoration: none;
}
.web-path{
    background-color:#f5f5f5;
    margin-top:4em;
    padding-top: 30px;
}
.description {
    line-height: 1.6em;
    padding-left: 70px;
}
.icon-box{
    width: 55px;
    height: 55px;
    background-color: #fdb714;
    text-transform: none;
}
.btn-visite{
    font-size: 0.8em;
}
.fas.fa-map-signs{
    color: #fff;
    padding: 15px;
    font-size: 1.5em;
}
.animated{
    position: relative;
    background: none;
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-delay: 0.5s;
    visibility: visible;
    animation-fill-mode: both;
    
}
@keyframes fadeInDown {
    from {top: -250px;}
    to {top: 0px;}
}
.pup-city button.b-bg {
    font-size: 0.8em;
    height: 30px;
    background-color: #d9d9d9;
}
.pup-city div.card{
    margin: 15px 0px;
}
.pup-trip div.icon-box {
    width: 55px;
    height: 55px;
    background-color: #e01a33;
    text-transform: none;
}
.pup-trip i.fas.fa-heart{
    color: #fff;
    padding: 20px;
    font-size: 1em;
}
.text-overflow {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.detail{
    margin: 10px;
    padding: 10px;
}
.image-box .box .box-title{
    color: #2d3e52;
}
.image-box .box, .image-box.box .detail{
    text-align: left;
    background: #fff;
}
.price {
    font-family: 'Siemreap', cursive;
    color: #7db921;
    font-size: 1em;
    text-transform: uppercase;   
    line-height: 1;
    
}
.kh-content{
    font-family: 'Siemreap', cursive;
    font-size: 10px;
    font-weight: 400;
    text-align: right;
    padding: 0px;
}
.detail a{
    font-size: 1em;
    font-family: 'Siemreap', cursive;
    font-weight: 300;
    font-weight: lighter;
    text-decoration: none;
    color: #2d3e52;
    
}
.detail{
    padding: 0px;
    margin: 10px;
    border-bottom:0.5px silver solid;
}
.promo-box {
    padding-top: 80px;
    padding-bottom:0px;
}
.parallax {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto auto;
    overflow: hidden;
    position: relative;
}
.pull-right {
    float: right!important;
}
.promo-box .table-wrapper {
    width: 100%;
    margin: 0;
}
.table-wrapper {
    display: table;
}
.table-wrapper .table-cell {
    display: table-cell;
    float: none!important;
}
.global-map-area {
    background-image: url('https://khmertrips.com/img/global_map.png');
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.kh-header a{
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
}
.carousel-item a{
    font-size: 1.35em;
    color: black;
    font-weight: 200;
    text-decoration: none;
}
.carousel-item td{
    padding: 10px;
}

  select::-ms-expand {
    display: none;
}
.favorite-icon {
    position: absolute;
    float: right; 
    right: 0rem; 
    top: 0rem;
    background-color: #4643438e;
    width: 56px;
    height: 56px;
    border-radius: 2%;
    cursor: pointer;
}
.favorite-icon:hover {
    background-color: red;
}
.favorite-icon i{
    color: #fff;
    font-size: 1.2em;
    padding-left: 20px;
    padding-top: 20px;
}
.btn-clickIn{
    background-color: #01b7f2;
}
.btn-clickIn:hover{
    background-color: #0d799c;
}
.trip-list td{
    padding: 10px;
}
#footer .footer-wraper {
    padding: 120px 0;
}
.new-section-xs {
    margin: 12px 0;
    min-height: 1px;
}
.skin-color {
    color: #194eb0;
}